# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.elf
*.bin
*.map

Makefile.dep
firmware/lpc1xxx/memory.ld
firmware/lcd/allfonts.h
tools/bootloader/lpcfix

